/* Albireo */

@font-face {
	font-family: "Albireo Extra Cond";
	src: url("/fonts/Albireo-Extra-Cond-Black.otf") format("opentype");
	font-style: normal;
}


/* Anton */

@font-face {
	font-family: "Anton";
	src: url("/fonts/Anton-Regular.ttf") format("truetype");
	font-style: normal;
}

/* Bebas Neue Pro Expanded */

@font-face {
	font-family: "Bebas Neue Pro Expanded";
	src: url("/fonts/BebasNeueProExpanded-Extrabold.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Bebas Neue Pro Expanded";
	src: url("/fonts/BebasNeueProExpanded-Extrabold-Italic.ttf") format("truetype");
	font-style: italic;
}

/* Raleway */

@font-face {
	font-family: "Raleway";
	src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Raleway";
	src: url("/fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
	font-style: italic;
}

/* Declarations */

:root {
	--font-sans: "Raleway", Arial, sans-serif;
	--font-display: "Albireo Extra Cond", sans-serif;
	--font-title: "Anton", Georgia, serif;
	--font-subtitle: "Bebas Neue Pro Expanded", Georgia, serif;
}
