/* Inter */

@font-face {
	font-family: "Inter";
	src: url("/assets/fonts/Inter-VariableFont_opsz,wght.ttf")
		format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("/assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf")
		format("truetype");
	font-style: italic;
}

/* Declarations */

:root {
	--font-sans: "Inter", Arial, sans-serif;
}
